<?xml version="1.0" encoding="utf-8"?>
<Configuration status="warn" strict="true" name="LogConfig">

    <Properties>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} |-%-5level [%thread] %c [%L] -| %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.yangs.springbootbegin" level="debug"/>
        <Root level="debug">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>